
body{
    /* border:1px solid black; for debug */
    padding:0 !important;
    margin:0 !important;
}
/* 正文区基本属性 */
#write {
   font-family:宋体;
   font-size:10.5pt;
   max-width: 21cm; /*A4标准宽度*/
   border:1px solid #CCC ; /* 添加一个淡灰色的边框 */
}
/*页边距处理*/
@media screen{
    #write{
       padding:2.54cm 3.18cm; 
    }
}
@media print{
    #write{
       padding:0 3.18cm !important; 
       margin:0 !important;
    }
}
@page{
	margin:2.54cm 0; /*上下/左右 边距，参考了word的默认边距*/
}


#write p{
	text-align:justify;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
    page-break-after:avoid !important;
}
/*引言*/
blockquote{
	font-family:楷体;
	border-left:3px solid grey;
	padding-left:10px;
	font-color:grey;
}
/* 标题属性 */
h1 {
	text-align:center;
	font-size:16pt;
}
h2 {
	font-family:仿宋;
	text-align:center;
	font-size:14pt;
}
h3 {
	font-family:黑体;
	font-size:10.5pt;
}
h4 {
	text-align:center;
	font-family:楷体;
	font-size:10.5pt;
}
/* 目录标题属性 */
.md-toc-h2 {
	font-family:仿宋;
}
.md-toc-h3 {
	font-family:黑体;
}
.md-toc-h4 {
	font-family:楷体;
}
/* 三线表 */
#write table{
	border-top: 1.5pt solid;
	border-bottom: 1.5pt solid;
	font-family:宋体;
	/*font-size:7.875pt;*/
	font-size:9pt;
	text-align:center;
    page-break-inside:avoid;
}
#write table td{
	padding:7px;
}
#write table tr{
	padding:7px;
}
#write thead{
	border-bottom: 0.75pt solid;
	font-family:黑体;
	font-size:9pt;
}
img{
    page-break-inside:avoid;
}
/* 以下开始为自动编号 */
#write{
    counter-reset: tableHead imgHead !important;
    counter-reset: h2 h3 h4;/*修复缺失上级标题时无法递增*/
}
/* 编辑器内标题-重置 */
#write h1 {
    counter-reset: h2;
}
#write h2 {
    counter-reset: h3;
}
#write h3 {
    counter-reset: h4;
}
/* 表格自动编号 */
#write figure:after{
	counter-increment: tableHead;
	content: "表" counter(tableHead) " ";
	text-align:center;
	width:100%;
	display:inline-block;
}
/* 图片自动编号，导出PDF时暂时无法显示 */
#write .md-image:after{
	counter-increment: imgHead;
	content: "图" counter(imgHead) " " !important;
	text-align:center;
	width:100%;
	display:inline-block;
}
/* 编辑器内标题-显示 */
#write h2:before {
    counter-increment: h2;
    content: counter(h2, cjk-ideographic) "、";
}
#write h3:before {
    counter-increment: h3;
    content: "（" counter(h3, cjk-ideographic) "）";
}
#write h4:before {
    counter-increment: h4;
    content: counter(h4, decimal) ". ";
}
/* 目录标题-重置 */
.md-toc-content{
	counter-reset: toc-h2 toc-h3 toc-h4 ;/*修复缺失上级标题时无法递增*/
}
.md-toc-content .md-toc-h1 {
    counter-reset: toc-h2;
}
.md-toc-content .md-toc-h2 {
    counter-reset: toc-h3;
}
.md-toc-content .md-toc-h3 {
    counter-reset: toc-h4;
}
/* 目录标题-显示*/
.md-toc-content .md-toc-h2:before {
    counter-increment: toc-h2;
    content: counter(toc-h2, cjk-ideographic) "、";
}
.md-toc-content .md-toc-h3:before {
    counter-increment: toc-h3;
    content: "（" counter(toc-h3, cjk-ideographic) "）";
}
.md-toc-content .md-toc-h4:before {
    counter-increment: toc-h4;
    content: counter(toc-h4, decimal) ". ";
}
/* 大纲标题 -重置*/
.sidebar-content{
    counter-reset: outline-h2 outline-h3 outline-h4;/*修复缺失上级标题时无法递增*/
}
.sidebar-content .outline-h1 {
    counter-reset: outline-h2;
}
.sidebar-content .outline-h2 {
    counter-reset: outline-h3;
}
.sidebar-content .outline-h3 {
    counter-reset: outline-h4;
}
/* 大纲标题 -显示*/
.sidebar-content .outline-h2 .outline-label:before {
    counter-increment: outline-h2;
    content: counter(outline-h2, cjk-ideographic) "、";
}
.sidebar-content .outline-h3 .outline-label:before {
    counter-increment: outline-h3;
    content: "（" counter(outline-h3, cjk-ideographic) "）";
}
.sidebar-content .outline-h4 .outline-label:before {
    counter-increment: outline-h4;
    content: counter(outline-h4, decimal) ". ";
}

/* override the default style for focused headings */
#write>h3.md-focus:before,
#write>h4.md-focus:before,
#write>h5.md-focus:before,
#write>h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
    color: inherit;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left:initial;
    float: none;
    top:initial;
    font-size: inherit;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}
